<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SeffyHospital" />
    <title>@ViewBag.Title MyClinic</title>

    <!-- google font -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Seffy/img/favicon.ico" />
    @Styles.Render("~/Content/CSSSeffy")
    @Styles.Render("~/Content/CSSSeffy1")
</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-blue">
    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo setlogo">
                    <a href="@Url.Action("", "Home")">
                        <span class="logo-icon fa fa-heartbeat fa-rotate-45"></span>
                        <span class="logo-default">MyClinic</span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="javascript:void(0)" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                @Html.Partial("_MainMenu")
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content" id="renderbody">
                    <!-- add content here -->
                    @RenderBody()
                </div>
            </div>
            <!-- end page content -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            @Html.Partial("_FooterPartial")
        </div>
        <!-- end footer -->
    </div>
    @Scripts.Render("~/bundles/JSSeffy")
    @Scripts.Render("~/bundles/JSSeffy1")
    <script>

        $('select').select2({
            width: '100%',
            placeholder: 'select ... '
        });

        $('.form_time').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 0,
            forceParse: 0,
            minuteStep: 5,
            format: "HH:ii P"
        });
        $('.timepicker').timepicker();
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:+nn',
                dateFormat: 'dd/mm/yy',
                maxDate: '0d',
                onSelect: function () {
                    this.focus();
                },
            });
        });
        $(function () {
            $(".date-picker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:+nn',
                dateFormat: 'dd/mm/yy',
                onSelect: function () {
                    this.focus();
                },
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>