@model MyClinic.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SeffyHospital" />
    <title>Login MyClinic</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />

    <!-- icons -->
    <link href="~/Seffy/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- bootstrap -->
    <link href="~/Seffy/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- style -->
    <link rel="stylesheet" href="~/Seffy/css/login.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="~/Seffy/img/favicon.ico" />
</head>
<body>
    <div class="form-title">
        <h1>Register Form</h1>
    </div>
    <!-- Login Form-->
    <div class="login-form text-center">
        <div class="toggle">
            <i class="fa fa-user-plus"></i>
        </div>
        <div class="form formLogin">
            <h2>Create a new account</h2>
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name" })
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address" })
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                    <button>Register</button>
                }
            </section>
        </div>

    </div>
    <!-- start js include path -->
    <script src="~/Seffy/js/jquery.min.js" type="text/javascript"></script>
    @*<script src="~/Seffy/js/login.js"></script>*@
    <script src="~/Seffy/js/pages.js" type="text/javascript"></script>
    <!-- end js include path -->
</body>
</html>