@model MyClinic.Models.AppointmentInfoVM

@{
    Layout = null;
}

<div class="modal fade" id="EditModal" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="EditTitle">
                    Edit Appointment
                </h4>
            </div>
            <div class="modal-body" style="display:inline-block; width:100%">
                @Html.HiddenFor(model => model.AppointmentId, new { @id = "hdn-id" })
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.PatientId)
                    </label>
                    <div class="input-height col-md-8">
                        @Html.DropDownListFor(model => model.PatientId, new SelectList(ViewBag.patient, "PatientId", "PatientName"), new { @class = "form-control input-form select2", @id = "txtPatientName" })
                        @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.ServiceID)
                    </label>
                    <div class="input-height col-md-8">
                        @Html.DropDownListFor(model => model.ServiceID, new SelectList(ViewBag.service, "ServiceID", "ServiceName"), new { @class = "form-control input-form select2", @id = "txtServiceName" })
                        @Html.ValidationMessageFor(model => model.ServiceID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.AppointmentDate)
                    </label>
                    <div class="input-height col-md-8">
                        @Html.TextBoxFor(model => model.AppointmentDate, new { @class = "form-control date-picker input-form", @id = "txtAppointmentDate" })
                        @Html.ValidationMessageFor(model => model.AppointmentDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.AppointmentTime)
                    </label>
                    <div class="input-height col-md-8">
                        @Html.TextBoxFor(model => model.AppointmentTime, new { @class = "form-control form_time input-form", @id = "txtAppointmentTime" })
                        @Html.ValidationMessageFor(model => model.AppointmentTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(model => model.AppointmentNotes)
                    </label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.AppointmentNotes, new { @class = "input-form txtarea", @id = "txtAppointmentNotes" })
                        @Html.ValidationMessageFor(model => model.AppointmentNotes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!-- Button to trigger modal -->
            <div class="modal-footer">
                <button id="btnSave" class="btn btn-primary">Save</button>
                <button id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>