<!-- Modal -->
<div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    About Appointment
                </h4>
            </div>
            <div class="modal-body" style="display:inline-block; width:100%">
                <div class="body">
                    <div class="row text-center m-t-10">
                        <div class="col-lg-6 col-md-12 b-r">
                            <strong>
                                @Html.DisplayName("Patient Name")
                            </strong>
                            <p>
                                @Html.Label("PatientName", new { @id = "lblPatientName" })
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-12 b-r">
                            <strong>
                                @Html.DisplayName("Phone Number")
                            </strong>
                            <p>
                                @Html.Label("Phone", new { @id = "lblPhoneNumber" })
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center m-t-10">
                        <div class="col-lg-6 col-md-12 b-r">
                            <strong>
                                @Html.DisplayName("Appointment Date")
                            </strong>
                            <p>
                                @Html.Label("AppointmentDate", new { @id = "lblAppointmentDate" })
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-12 b-r">
                            <strong>
                                @Html.DisplayName("Appointment Time")
                            </strong>
                            <p>
                                @Html.Label("AppointmentTime", new { @id = "lblAppointmentTime" })
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center m-t-10">
                        <div class="col-lg-6 col-md-12 b-r">
                            <strong>
                                @Html.DisplayName("Service Name")
                            </strong>
                            <p>
                                @Html.Label("ServiceName", new { @id = "lblServiceName" })
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-12 b-r">
                            <strong>
                                @Html.DisplayName("Doctor Name")
                            </strong>
                            <p>
                                @Html.Label("DoctorName", new { @id = "lblDoctorName" })
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center m-t-10">
                        <div class="col-md-12">
                            <strong>
                                @Html.DisplayName("Appointment Notes")
                            </strong>
                            <p>
                                @Html.Label("AppointmentNotes", new { @id = "lblAppointmentNotes" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>