@model MyClinic.Models.AddSecretaryVM

@{
    Layout = null;
}

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="EditTitle">
                    Edit Secretary
                </h4>
            </div>
            <div class="modal-body" style="display:inline-block; width:100%">
                @Html.HiddenFor(model => model.UserId, new { @id = "hdn-id" })
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.FullName)
                    </label>
                    <div class="input-height col-md-9">
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control input-form", @id = "txtFullName" })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.UserName)
                    </label>
                    <div class="input-height col-md-9">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-form", @id = "txtUserName" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="section-password">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            @Html.LabelFor(model => model.Password)
                        </label>
                        <div class="input-height col-md-9">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control input-form", @id = "txtPassword" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </label>
                        <div class="input-height col-md-9">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-form", @id = "txtConfirmPassword" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" class="btn btn-primary">Save</button>
                    <button id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
    </div>
</div>