@using MyClinic.Models;

@{
    var Appoint = new AppointmentInfoVM();
    var CAppoint = new ConfirmAppointmentVM();
    ViewBag.Title = "Appointments List";
    List<SelectListItem> Doctors = new SelectList((List<SelectDoctorVM>)ViewBag.users, "DoctorID", "DoctorName").ToList();
    Doctors.Insert(0, new SelectListItem { Text = "All", Value = "0" });
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-purple">
            <div class="card-head">
                <header></header>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="btn-group">
                            <button id="addAppointment" class="btn btn-info">
                                <span class="fa fa-user-plus"></span> New Appointment
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="btn-group pull-right">
                            <button class="btn green-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">
                                Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-print"></i> Print
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br /><br />
                 <div class="row">
                     <div class="col-md-3 col-sm-6">
                         @Html.TextBox("FromDate", @DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control date-picker", @id = "txtFromDate" })
                     </div>
                     <div class="col-md-3 col-sm-6">
                         @Html.TextBox("ToDate", @DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control date-picker", @id = "txtToDate" })
                     </div>
                     <div class="col-md-3 col-sm-6">
                         @Html.DropDownList("DoctorID", Doctors, new { @class = "form-control", @id = "txtDoctorSelect" })
                     </div>
                     <div class="col-md-3 col-sm-6">
                         <button class="btn btn-success col-md-12 col-sm-12" id="btnFilter"><i class="fa fa-check"></i> Filter</button>
                     </div>
                 </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="appointments-data-table">
                    <thead>
                        <tr>
                            <th style="width:2%">#</th>
                            <th style="width:13%">
                                Patient
                            </th>
                            <th style="width:10%">
                                Phone
                            </th>
                            <th style="width:10%">
                                Date
                            </th>
                            <th style="width:10%">
                                Time
                            </th>
                            <th style="width:10%">
                                Service
                            </th>
                            <th style="width:12%">
                                Doctor
                            </th>
                            <th style="width:33%" class="center"> Action </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
     </div>
</div>

@Html.Partial("_Details")

@Html.Partial("_AddAppointment", Appoint)

@Html.Partial("_ConfirmAppointment", CAppoint)

<div id="modalReport" class="modal fade">
    <div class="modal-dialog" style="width: 90%; height: 90%;">
        <button class="btn btn-danger btn-close">
            <i class="fa fa-times i-close" aria-hidden="true"></i>
        </button>
        <div class="rpt-body">
        </div>
    </div>
</div>


@section scripts{
    <script>
        var recID = 0;
        var appointmentListVM;
        $(function () {
            appointmentListVM = {
                dt: null,
                init: function () {
                    dt = $('#appointments-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("Get", "Appointment")",
                            "data": function (d) {
                                d.fromDate = $('#txtFromDate').val();
                                d.toDate = $('#txtToDate').val();
                                d.DoctorID = $('#txtDoctorSelect').val();
                            }
                        },
                        "columns": [
                            {
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }, "searchable": false, "orderable": false

                            },
                        {
                            "data": "PatientId",
                            render: function (data, type, item) {
                                return "<span class='lblPatient' data-appointmentid='" + item.AppointmentId + "'>" + item.PatientName + "</span>";
                            }, "searchable": true
                        },
                        {
                            "data": "PhoneNumber",
                            "searchable": true

                        },
                        {
                            "data": "AppointmentDate", "searchable": true

                        },
                        {
                            "data": "AppointmentTime", "searchable": true

                        },
                        {
                            "data": "ServiceName", "searchable": true

                        },
                        {
                            "data": "DoctorName", "searchable": true

                        },
                        {
                            data: "AppointmentId",
                            render: function (data) {
                                return "<button class='btn btn-sm marginspace btn-primary btnOpenForEdit' data-appointmentid='" + data + "'><span class='fa fa-pencil'></span></button>" +
                                       "<button class='btn btn-sm marginspace btn-info btnOpenForDetails' data-appointmentid='" + data + "'><span class='fa fa-info'></span></button>" +
                                       "<button class='btn btn-sm marginspace btn-danger js-Cancel' data-appointment-id='" + data + "'><span class='fa fa-times'></span></button>" +
                                       "<button class='btn btn-sm marginspace btn-primary btnOpenForConfirm' data-appointmentid='" + data + "'><span class='fa fa-edit'></span></button>";
                            }, "searchable": false, "orderable": false
                        }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "order": [[1, "asc"]]

                    });
                }
            }
            appointmentListVM.init();
        });


        var saveData = function (parm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveAppointment", "Appointment")',
                data: parm,
                traditional: true,
                success: function (data) {
                    successSave(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        var saveConfirmData = function (parm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveConfirmAppointment", "Appointment")',
                data: parm,
                traditional: true,
                success: function (data) {
                    successSave(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        var clear = function () {
            $('.input-form').val('');
            $('.select2').val('').trigger('change');
            $('#hdn-id').val('');
            $('#EditTitle').html('Create New Appointment');
        }


        var successSave = function (result) {
            recID = result.id;
            dt.draw(false);
            $('#EditModal').modal('hide');
            swal('Success', result.msg, 'success');
            //printAfterSave();
        }

        var successConfirmSave = function (result) {
            recID = result.id;
            dt.draw(false);
            $('#ConfirmModal').modal('hide');
            swal('Success', result.msg, 'success');
            printAfterSave();
        }

        var errorAjax = function () {
            alert("Data not Saved there is an error..");
        }

        var saveConfirm = function () {
            if (!$('#txtCAppointRequestAmount').val()) {
                swal({ text: "Fields must be filled with data." });
                return;
            }
            var data = {
                CAppointID: $('#hdn-CAppointID').val(),
                CAppointRequestAmount: $('#txtCAppointRequestAmount').val(),
                CAppointPaidAmount: $('#txtCAppointPaidAmount').val(),
                CAppointNotes: $('#txtCAppointNotes').val(),
                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
            };
            saveConfirmData(data);
        }

        var printAfterSave = function () {
            var url = '/Receipt/PrintReceiptVoucher/' + recID;
            $('#modalReport').modal('show').find('.modal-dialog').find('.rpt-body').html('<iframe src="' + url + '"  class="rpt-iframe" frameborder="0"></iframe>');
        }

        $(document).ready(function () {
            //$('#txtFromDate, #txtToDate').on('keyup change paste', function () {
            //    dt.draw();
            //});
            $('#btnFilter').on('click', function () {
                dt.draw();
            });


            $(document).on('click', '.btnOpenForDetails', function () {
                var id = $(this).data("appointmentid");
                var Name = $(this).closest('tr').find('.lblPatient').html();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAppointment", "Appointment")',
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#lblPatientName').text(data.PatientName);
                        $('#lblPhoneNumber').text(data.PhoneNumber);
                        $('#lblAppointmentDate').text(data.AppointmentDate);
                        $('#lblAppointmentTime').text(data.AppointmentTime);
                        $('#lblServiceName').text(data.ServiceName);
                        $('#lblDoctorName').text(data.DoctorName);
                        $('#lblAppointmentNotes').text(data.AppointmentNotes);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('errooooor');
                    }
                });

                $('#myModalLabel').html('About Appointment: ' + Name);
                $('#DetailsModal').modal('show');
            });

            $(document).on('click', '#addAppointment', function () {
                clear();
                $('#EditModal').modal('show');
            });

            $(document).on('click', '.btnOpenForEdit', function () {
                var id = $(this).data("appointmentid");
                var Name = $(this).closest('tr').find('.lblPatient').html();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAppointment", "Appointment")',
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#hdn-id').val(data.AppointmentId);
                        $('#txtPatientName').val(data.PatientId).trigger('change');
                        $('#txtServiceName').val(data.ServiceID).trigger('change');
                        $('#txtDoctorName').val(data.DoctorId).trigger('change');
                        $('#txtAppointmentDate').val(data.AppointmentDate);
                        $('#txtAppointmentTime').val(data.AppointmentTime);
                        $('#txtAppointmentNotes').val(data.AppointmentNotes);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('errooooor');
                    }
                });

                $('#EditTitle').html('Edit Appointment: ' + Name);
                $('#EditModal').modal('show');
            });

            $(document).on('click', '.btnOpenForConfirm', function () {
                var id = $(this).data("appointmentid");
                var Name = $(this).closest('tr').find('.lblPatient').html();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetConfirmAppointment", "Appointment")',
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#hdn-CAppointID').val(data.CAppointID);
                        $('#txtCAppointRequestAmount').val(data.CAppointRequestAmount);
                        //$('#txtCAppointPaidAmount').val(data.CAppointPaidAmount);
                        //$('#txtCAppointNotes').val(data.CAppointNotes);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('errooooor');
                    }
                });

                $('#ConfirmTitle').html('Confirm Appointment: ' + Name);
                $('#ConfirmModal').modal('show');
            });

            $("#appointments-data-table").on("click", ".js-Cancel", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to Cancel this Appointment?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Appointments/" + button.attr("data-appointment-id"),
                            method: "POST",
                            success: function (result) {
                                dt.row(button.parents("tr")).draw(false);
                                swal("Done", result, "success");
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                swal(jqXHR.status, jqXHR.responseJSON, "error");
                            }
                        });
                    }
                });
            });

            $(document).on('click', '.btn-close', function () {
                $('#modalReport').modal('show').find('.modal-dialog').find('.rpt-body').html('');
                $('.modal').modal('hide');
            });

            ///// save appointment /////
            $('#btnSave').click(function () {
                if (!$('#txtPatientName').val()) {
                    swal({ text: "Fields must be filled with data." });
                    return;
                }
                if (!$('#txtServiceName' ||
                       '#txtDoctorName' ||
                       '#txtAppointmentDate' ||
                       '#txtAppointmentTime' ||
                       '#txtAppointmentNotes').val()) {
                    swal({ text: "Fields must be filled with data." });
                    return;
                }
                var data = {
                    AppointmentId: $('#hdn-id').val(),
                    PatientId: $('#txtPatientName').val(),
                    ServiceID: $('#txtServiceName').val(),
                    DoctorId: $('#txtDoctorName').val(),
                    AppointmentDate: $('#txtAppointmentDate').val(),
                    AppointmentTime: $('#txtAppointmentTime').val(),
                    AppointmentNotes: $('#txtAppointmentNotes').val(),
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                };
                saveData(data);
            });

            ///// save confirm appointment //////
            $('#btnSaveConfirm').click(saveConfirm);

            ///// save confirm and print receipt appointment //////
            $('#btnSavePrint').click(function () {
                saveConfirm();
                //printAfterSave();
            });

            //
        });
    </script>
}
