@using MyClinic.Models;

@{
    var patient = new PatientInfoVM();
    ViewBag.Title = "Patients List";
    List<SelectListItem> Doctors = new SelectList((List<SelectDoctorVM>)ViewBag.users, "DoctorID", "DoctorName").ToList();
    Doctors.Insert(0, new SelectListItem { Text = "All", Value = "0" });
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-red">
                    <div class="card-head">
                        <header></header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" id="refresh-dt"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-group">
                                    <button id="addPatient" class="btn btn-info">
                                        <span class="fa fa-user-plus"></span> New Patient
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">
                                        Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Save as PDF
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Export to Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                @Html.DropDownList("DoctorID", Doctors, new { @class = "form-control", @id = "txtDoctorSelect" })
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <button class="btn btn-success col-md-12 col-sm-12" id="btnFilter"><i class="fa fa-check"></i> Filter</button>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="patients-data-table">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:25%">
                                        Full Name
                                    </th>
                                    <th style="width:30%">
                                        Address
                                    </th>
                                    <th style="width:20%">
                                        Phone Number
                                    </th>
                                    <th style="width:20%" class="center"> Action </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Details")

@Html.Partial("_AddPatient", patient)

@section scripts{
    <script>
        var patientListVM;
        $(function () {
            patientListVM = {
                dt: null,
                init: function () {
                    dt = $('#patients-data-table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("Get", "Patient")",
                            "data": function (d) {
                                d.DoctorID = $('#txtDoctorSelect').val();
                            }
                    },
                        "columns": [
                            {
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }, "searchable": false, "orderable": false

                            },
                        {
                            "data": "FullName",
                            render: function (data, type, item) {
                                return "<a class='lblFullName btnOpenForDetails' data-patientid='" + item.PatientId + "' style='color: #337ab7;'>" + item.FullName + "</a>";
                            }, "searchable": true
                        },
                        {
                            "data": "Address", "searchable": true

                        },
                        {
                            "data": "Phone", "searchable": true

                        },
                        {
                            data: "PatientId",
                            render: function (data) {
                                return "<button class='btn btn-sm btn-primary btnOpenForEdit' data-patientid='" + data + "'><span class='fa fa-pencil'></span></button>" +
                                       "<button class='btn btn-sm btn-info btnOpenForDetails' data-patientid='" + data + "'><span class='fa fa-info'></span></button>" +
                                       "<button class='btn btn-sm btn-danger js-delete' data-patient-id='" + data + "'><span class='fa fa-trash-o'></span></button>";
                            }, "searchable": false, "orderable": false
                        }
                    ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "order": [[1, "asc"]]

                    });
                }
            }
            patientListVM.init();
        });


        var saveData = function (parm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SavePatient", "Patient")',
                data: parm,
                traditional: true,
                success: function (data) {
                    successSave(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        var clear = function () {
            $('.input-form').val('');
            $('.select2').val('').trigger('change');
            $('#hdn-id').val('');
            $('#EditTitle').html('Create New Patient');
        }


        var successSave = function (result) {
            dt.draw(false);
            $('.modal').modal('hide');
            swal('Success', result, 'success')
        }

        var errorAjax = function () {
            alert("Data not Saved there is an error..");
        }


        $(document).ready(function () {

            $('#btnFilter').on('click', function () {
                dt.draw();
            });

            $("#patients-data-table").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this Patient?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Patients/" + button.attr("data-patient-id"),
                            method: "DELETE",
                            success: function (result) {
                                dt.row(button.parents("tr")).remove().draw(false);
                                swal("Done", result, "success");
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                swal(jqXHR.status,jqXHR.responseJSON,"error");
                            }
                        });
                    }
                });
            });

            $(document).on('click', '.btnOpenForDetails', function () {
                var id = $(this).data("patientid");
                var fullName = $(this).closest('tr').find('.lblFullName').html();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetPatient", "Patient")',
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        var parts = data.Birthdate.split('/');
                        var mydate = new Date(parts[2], parts[1] - 1, parts[0]);
                        var today = new Date();
                        var old = Math.round(((today - mydate) / 31557600000)) ;
                        $('#lblFullName').text(data.FullName);
                        $('#lblPhone').text(data.Phone);
                        $('#lblBirthdate').text(data.Birthdate + ' (' + old +' years)');
                        $('#lblGender').text(data.GenderDesc);
                        $('#lblDoctorName').text(data.DoctorName);
                        $('#lblNotes').text(data.Notes);
                        $('#lblAddress').text(data.Address);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('errooooor');
                    }
                });

                $('#myModalLabel').html('About Patient: ' + fullName);
                $('#DetailsModal').modal('show');
            });

            $(document).on('click', '#addPatient', function () {
                clear();
                $('#EditModal').modal('show');
            });
            $(document).on('click', '#refresh-dt', function () {
                dt.draw(false);
            });
            $(document).on('click', '.btnOpenForEdit', function () {
                var id = $(this).data("patientid");
                var fullName = $(this).closest('tr').find('.lblFullName').html();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetPatient", "Patient")',
                    data: { id: id },
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        $('#hdn-id').val(data.PatientId);
                        $('#txtFullName').val(data.FullName);
                        $('#txtPhone').val(data.Phone);
                        $('#txtBirthdate').val(data.Birthdate);
                        $('#txtGender').val(data.GenderId).trigger('change');
                        $('#txtNotes').val(data.Notes);
                        $('#txtAddress').val(data.Address);
                        $('#txtDoctor').val(data.DoctorId).trigger('change');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('errooooor');
                    }
                });

                $('#EditTitle').html('Edit Patient: ' + fullName);
                $('#EditModal').modal('show');
            });

            $('#btnSave').click(function () {
                if ($('#txtFullName').val() == '') {
                    swal({ text: "Fields must be filled with data." });
                    return;
                }
                if ($('#txtPhone' ||
                       '#txtBirthdate' ||
                       '#txtGender' ||
                       '#txtNotes' ||
                       '#txtAddress' ||
                       '#txtDoctor').val() == '') {
                    swal({ text: "Fields must be filled with data." });
                    return;
                }
                var data = {
                    PatientId: $('#hdn-id').val(),
                    FullName:$('#txtFullName').val(),
                    Phone: $('#txtPhone').val(),
                    Birthdate: $('#txtBirthdate').val(),
                    Gender: $('#txtGender').val(),
                    Notes: $('#txtNotes').val(),
                    DoctorId: $('#txtDoctor').val(),
                    Address: $('#txtAddress').val(),
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                };
                saveData(data);
            });
        });
    </script>
}
