@model MyClinic.Models.ReceiptVoucherInfoVM
@{
    Layout = null;
}

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="EditTitle">
                    New Receipt Voucher
                </h4>
            </div>
            <div class="modal-body" style="display:inline-block; width:100%">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.PatientId)
                    </label>
                    <div class="input-height col-md-9">
                        @Html.DropDownListFor(model => model.PatientId, new SelectList(ViewBag.patient, "PatientId", "PatientName"), new { @class = "form-control input-form select2", @id = "txtPatientName" })
                        @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.Amount)
                    </label>
                    <div class="input-height col-md-9">
                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control input-form", @id = "txtAmount" })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.Notes)
                    </label>
                    <div class="input-height col-md-9">
                        @Html.TextAreaFor(model => model.Notes, new { @class = "input-form txtarea", @id = "txtNotes" })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" class="btn btn-primary">Save</button>
                <button id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
